* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    background-color: tomato;
    color: thistle;
    font-size: 8rem;
    letter-spacing: 4rem;
  }